

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  width: 100%;
  text-align: center;
}

header h1 {
  text-align: center;
}

form {
  display: flex;
  align-items: center;
}

.movies {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  max-width: 800px;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 35px;
}

.movie h3 {
  margin-bottom: 0;
  text-align: center;
}

.movie p {
  text-align: center;
}

.movie img {
  border-radius: .5rem;
}


